* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.app {
  min-height: 100vh;
  background: #fff6ee;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 56px);
  padding: 0 16px;
}

.heroTitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 12px 0;
  color: #222;
  text-align: center;
}

.heroSubtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.4;
}
